@import "tailwindcss";

:root {
  --background: #ffffff;
  --text-color: #293038;
  --gold: #B3A77F;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

/* Classes utilitaires pour votre couleur dorée */
.gold-text {
  color: var(--gold);
}

.gold-bg {
  background-color: var(--gold);
}

.white-bg {
  background-color: var(--background);
}

@media (min-width: 2400px) {
  .form-rounded-3xl {
    border-radius: 0.75rem;
  }
}

@media (min-width: 2000px) {
  .width-3xl {
    width: 20%;
    gap: 1.5rem;
  }

  .gap-3xl {
    gap: 2rem;
  }
}